*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url(./font/Poppins-Regular.ttf);
}
/* navbar section stat */
.icon{
    display: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px ;
}
.nav-link{
    display: flex;  
    gap: 30px;
    align-items: center;
}
.nav-link li{
    list-style: none;
}
.nav-link li a{
    text-decoration: none;
    font-family: Poppins;
    color: black;
    text-transform: uppercase;
}
.nav-link button{
    border: none;
    outline: none;
    background: transparent;
    background-color: red;
    padding: 10px 30px;
    border-radius: 4px;

}
.nav-link button a{
    text-decoration: none;
    font-family: Poppins;
    color: white;
    text-transform: uppercase;
}
/* navbar section end */

/* hero section start */
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 70px;
    position: relative;
}
.content{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Poppins;
}
.content span{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
}
.content p{
    color: rgb(145, 148, 162);
}
.heroimg{
    width: 30%;
}
.heroimg img{
    width: 100%;
}
.content .btns button{
    outline: none;
    border: none;
    background: transparent;
    font-family: Poppins;
    padding: 10px 20px;
    border-radius: 5px;
}
.btns{
    display: flex;
    gap: 30px;
}
.btns #first{
    background-color: rgb(82, 103, 223);
    color: white;
}
.btns #second{
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    
}
.btns #first:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.btns #second:hover{
    background-color: rgb(82, 103, 223);
    color: white;

}
.rectangle{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223); 
    display: block;
    border-bottom-left-radius:999px; 
    border-top-left-radius: 999px;
    position: absolute;
    right: 0px;
    top: 40%;
    z-index: -5;
}
/* hero section end */

/* features section start */
.Features{
    width: 100%;
    gap: 70%;
    position: relative;
    background-color: rgb(247, 247, 247);
    z-index: -5;
    
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px 0px;
    font-family: Poppins;
}
.container h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
}
.container p{
    width: 50%;
    color: rgb(145, 148, 162);
    text-align: center;
    align-items: center;

}
/* features1 section start */
.features1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
}
.features1 .img1{
    width: 30%;
}
.features1 .img1 img{
    width: 100%;
}
.features1 .content{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}
.features1 .content h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;

}
.features1 .content .btns{
    outline: none;
    border: none;
    background: transparent;
    font-family: Poppins;
    padding: 10px 20px;
    border-radius: 5px;

}
.btns #one{
    background-color: rgb(82, 103, 223);
    color: white;
}
.btns #one:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}

.Features .Rounded1{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) !important; 
    display: block;
    border-bottom-right-radius:999px; 
    border-top-right-radius: 999px;
    position: absolute;
    left: 0px;
    top: 25%;
    z-index: -5;
}
/* features1 section end */

/* features2 section start */
.features2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
}
.features2 .content{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Poppins;
}
.features2 .img2{
    width: 30%;
}
.features2 .img2 img{
    width: 100%;
}
.features2 .content .btns{
    outline: none;
    border: none;
    background: transparent;
    font-family: Poppins;
    padding: 10px 20px;
    border-radius: 5px;
}
.btns #two{
    background-color: rgb(82, 103, 223);
    color: white;
}
.btns #two:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);  
}
.Features .Rounded2{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223); 
    display: block;
    border-bottom-left-radius:999px; 
    border-top-left-radius: 999px;
    position: absolute;
    right: 0px;
    top: 55%;
    z-index: -5;
}
/* features2 section end */


/* features3 section start */
.features3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px 0px;
}
.features3 .img3{
    width: 30%;
}
.features3 .img3 img{
    width: 100%;
}
.features3 .content{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}
.features3 .content .btns{
    outline: none;
    border: none;
    background: transparent;
    font-family: Poppins;
    padding: 10px 20px;
    border-radius: 5px;

}
.btns #three{
    background-color: rgb(82, 103, 223);
    color: white;
}
.btns #three:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.Features .Rounded3{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223); 
    display: block;
    border-bottom-right-radius:999px; 
    border-top-right-radius: 999px;
    position: absolute;
    left: 0px;
    top: 85%;
    z-index: -5;
}

  
/* features3 section end */

/* features section end */

/* Download Extension section start */
.extension{
    width: 100%;
    background-color: white;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
.content{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 70px 0px;
   text-align: center;
   font-family: Poppins;

}
.browser{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   height: 20vh;
   
  


}
/* Chrome card start */
#chrome{
    align-self: flex-start;
}
.Chrome{
   width: 25%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1); 
   border-radius: 5px;
   border-top: 0px;

    
}

.chromeimg{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* width: 20%; */
}

.chromecontent{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;

}
.chromebtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    
}
.chromebtn button{
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    background-color:rgb(82, 103, 223);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    
}
.chromebtn button:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
/* Chrome card end */
/* Firefox card start */
#firefox{
    align-self: center;
}
.Firefox{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 5px; 
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.firefoximg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firefoxcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Poppins;
}
.firefoxbtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.firefoxbtn button{
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    background-color:rgb(82, 103, 223);
    color: white;
    padding: 10px;
    border-radius: 3px;
    
}
.firefoxbtn button:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
/* Firefox card end */
/* Opera card start */
#opera{
    align-self: flex-end;
}
.Opera{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 5px; 
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.operaimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.operacontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Poppins;
}
.operabtn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.operabtn button{
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    background-color:rgb(82, 103, 223);
    color: white;
    padding: 10px;
    border-radius: 3px;
    
}
.operabtn button:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
/* Opera card end */
/* Download Extension section end */
/* Faq section sart */
.FrequentlyFaq{
    width: 100%;
    height: 100vh;
    background-color: rgb(247 247 247 );
}
.frequentlycontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 70px 0px;
    font-family: Poppins;
}
.frequentlycontent h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;

}
.frequentlycontent p{
    color: rgb(145, 148, 162);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.questionfaq{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}
.questionfaq span{
    font-family: Poppins;
}
.question1{
    display: flex;
    gap: 100px;
    padding: 10px 30px;
    border: 1px solid rgb(229, 231, 235);
    width: 25%;
    justify-content: space-between;
    text-align: start;
    border-bottom: 1px solid #e5e7eb;
    
    
}
.question2{
    display: flex;
    padding: 10px 30px;
    border: 1px solid rgb(229, 231, 235);
    width: 25%;
    justify-content: space-between;
    border-style: solid;
    text-align: start;
    border-bottom: 1px solid #e5e7eb;
    
}
.question3{
    display: flex;
    padding: 10px 30px;
    border: 1px solid rgb(229, 231, 235);
    width: 25%;
    justify-content: space-between;
    text-align: start;
    border-bottom: 1px solid #e5e7eb;
}
.question4{
    display: flex;
    padding: 10px 30px;
    border: 1px solid rgb(229, 231, 235);
    width: 25%;
    justify-content: space-between;
    text-align: start;
    border-bottom: 1px solid #e5e7eb;
}
.faqbtn{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
}
.faqbtn button{
    width: 5%;
    outline: none;
    border: none;
    background: transparent;
    background-color:rgb(82, 103, 223);
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.faqbtn button:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
/* Faq section end */
/* second last section start */
.Join{
    background-color: rgb(82 103 223 );
    color: rgb(255 255 255 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 30px;
    font-family: Poppins;
    width: 100%;
}
.input{
    display: flex;
    width: 30%;
    gap: 30px;
}
.input input{
    padding: 10px 30px;
    flex: 1;
    border-radius: 5px;
}
.input button{
    width: 20%;
    outline: none;
    border: none;
    background: transparent;
    background-color:rgb(250 89 89 );
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.input button:hover{
    color: black;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);

}
/* second last section end */































/* Media Queries */
@media  screen and (max-width:480px) {
    .nav-link{
        display: none;
    }
    .icon{
        display: block;
    }
    .hero{
        flex-direction: column;
    }
    .Features{
        flex-direction: column;
    }
    .features1{
        flex-direction: column;
    }
    .features2{
        flex-direction: column;
    }
    .features3{
        flex-direction: column;
    }

    .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .container{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features1 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features2 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features3 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;

    }
    .heroimg{
       width: 100%;
       padding: 0px 30px;
    }
    .features1 .img1{
        width: 100%;
        padding: 0px 30px;
    }
    .features2 .img2{
        width: 100%;
        padding: 0px 30px;
    }
    .features3 .img3{
        width: 100%;
        padding: 0px 30px;
    }
    .rectangle{
        display: none;
    }
    .Features .Rounded1{
        display: none;
    }
    .Features .Rounded2{
        display: none;
    }
    .Features .Rounded3{
        display: none;
    }
    .extension{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .extension .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .browser{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding-top: 20rem;
        padding-bottom: 4rem;
          
    }
    #chrome{
        flex-direction: column;
        align-items: center;
        width: 50%;
        align-self: center;
    }
     
    .Firefox{
        flex-direction: column;
        align-items: center;
        width: 50%;
        align-self: center;
    }
   
    #opera{
       flex-direction: column;
       align-items: center;
       width: 50%;
       align-self: center;
    }
    .FrequentlyFaq{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .frequentlycontent{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        text-align: center;
    }
    .question1{
        width: 100%;
    }
    .question2{
        width: 100%;
    }
    .question3{
        width: 100%;
    }
    .question4{
        width: 100%;
    }
    .input{
        width: 95%;
        justify-content: center;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .hero{
        flex-direction: column;
    }
    .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .heroimg{
        width: 100%;
        padding: 0px 30px;
    }
    .rectangle{
        display: none;
    }
    .Features .Rounded1{
        display: none;
    }
    .Features .Rounded2{
        display: none;
    }
    .Features .Rounded3{
        display: none;
    }
    .features1 .img1{
        width: 100%;
        padding: 0px 30px;
    }
    .features2 .img2{
        width: 100%;
        padding: 0px 30px;
    }
    .features3 .img3{
        width: 100%;
        padding: 0px 30px;
    }
    .container{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features1 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features2 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .features3 .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .Features{
        flex-direction: column;
    }
    .features1{
        flex-direction: column;
    }
    .features2{
        flex-direction: column;
    }
    .features3{
        flex-direction: column;
    }
    .extension .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .frequentlycontent{
        width: 75%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .browser{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        /* padding-top: 110%; */
          
    }
    #chrome{
        flex-direction: column;
        align-items: center;
        width: 50%;
        align-self: center;
        gap: 20px;
    }
     
    .Firefox{
        flex-direction: column;
        align-items: center;
        width: 50%;
        align-self: center;
        gap: 20px;
    }
   
    #opera{
       flex-direction: column;
       align-items: center;
       width: 50%;
       align-self: center;
       gap: 20px;
    }
    .input{
        width: 61%;
        justify-content: center;
    }

    
}
@media screen and (min-width:769px) and (max-width:1279px){
    
}
@media screen and (min-width:1280px){
    .rectangle{
        top: 40%;
        display: block !important;
    }
    .Features .Rounded1{
        top: 25%;
        display: block !important;
    }
    .Features .Rounded2{
        top: 55%;
        display: block !important;
    }
    .Features .Rounded3{
        top: 85%;
        display:  block !important;
    }
    
}